@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


:root {
    --color-primary: #7380ec;
    --color-light: #FCFCFC;
    --color-light2: #f4f4f4;
    --color-white: #FFFF;
    --color-h3: #ffffff;
    --color-hero-background: #edf2fc;
    --color-info-light: #e6ebf5;
    --color-info-light2: #bfceeb;
    --color-info-light3:  #f5f7fa;
    --color-info-light4: #eaf0f8;
    --color-boxshadow: hsla(0, 0%, 0%, 0.12);
    --color-info-dark: #3e524e;
    --transition: all 300ms ease;
    --box-shadow: 0 1rem 3rem rgba(51, 52, 56, 0.18);
    --color-black: #141415;
}

.dark-theme-variables {
    --color-light: #1b1f22;
    --color-light2: #1b1f22;
    --color-info-light4: #1b1f22;
    --color-info-light: #181a1e;
    --color-info-light3: #202528;
    --color-black: #ffff;
    --background-color: #24282e;
    --color-white: #1c1f24;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    overflow-x: hidden;
    max-width: 100vw;
    padding: 10rem 0 7rem;
}

nav {
    position: fixed;
    top: 0;
    background: var(--color-light2);
    display: flex;
    border-bottom: 1px solid var(--color-info-dark) ;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 90%;
}

nav .container h2 {
    color: var(--color-primary);
    font-size: 2.8rem;
}

nav .container #nav-links {
    display: flex;
    margin-left: 5rem;
    justify-content: end;
    position: relative;
}

nav .container #nav-links a {
    width: 7rem;
    height: 7rem;
    color: var(--color-black);
    transition: var(--transition);
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    justify-content: center;
    position: relative;
}

nav .container #nav-links a:hover {
    color: var(--color-primary);
}


nav .container #nav-links a.active {
    background: var(--color-primary);
    color: var(--color-light);
}


nav .container #toggle {
    display: none;
}

nav .container .theme-toggler {
    background: var(--color-info-light3);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}
nav .container .theme-toggler span {
    font-size: 1.2rem;
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .container .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: 5px;
}

/*====HERO SECTION====*/

.home {
    background: var(--color-light2);
    height: 119vh;
}


.home .hero-section {
    position: relative;
    width: 45%;
    margin-left: 3rem;
    padding-top: 25rem;
    display: flex;
    width: 100%;
}

.home .hero-section .hero-text {
    display: flex;
    flex-direction: column;
}


.home .hero-section .hero-text p {
    color: var(--color-black);
    font-size: 1rem;
}

.home .hero-section .hero-text h3 {
    font-size: 2rem;
    color: var(--color-black);
}

.home .hero-section .hero-text h1 {
    font-size: 3.1rem;
    color: var(--color-primary);
}

.home .hero-section .hero-text .btn-primary {
    margin-top: 0.8rem;
    gap: 2rem;
    display: flex;
}

.home .hero-section .hero-text .btn-primary button {
    padding: 1.2rem;
    background: var(--color-primary);
    color: var(--color-light);
    font-size: 1rem;
    transition: var(--transition);
    border: none;
    width: 10rem;
}

.home .hero-section .hero-text .btn-primary button:hover {
    background: var(--color-light);
    color: var(--color-primary);
    cursor: pointer;
    border: 1px solid var(--color-primary);
}

.home .hero-img {
    height: 100%;
    width: 45%;
    position: absolute;
    bottom: -7.8rem;
    right: 1rem;
    overflow: hidden;
}
.home .hero-img img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 100%;
    transition: bottom 1s, left 1s;
}

.home .hero-img:hover .back-img {
    bottom: 1rem;
}

.home .hero-img:hover .main-img {
    left: 45%;
}

.home .hero-section .profile-area {
    display: none;
}

/*================END OF HOME===============*/

/*================ABOUT================*/
section.about {
    background: var(--color-info-light3);
}

section.about .container {
    width: 80%;
}

section.about .me {
    margin: 0 auto;
    margin-top: -3rem;
}

section.about .me h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--color-black)
}

section.about .me .intro-text {
    background: var(--color-info-light);
    display: flex;
    gap: 2rem;
}

section.about .me .intro-text .intro-text-right  {
    width: 50%;
    overflow: hidden;
    position: relative;
}

section.about .me .intro-text .intro-text-right img {
    margin: 4rem 2rem 2rem 2rem;
    position: relative;
}

section.about .me .intro-text .intro-text-left {
    width: 45%;
    position: relative;
}

section.about .me .intro-text .intro-text-left .content {
    margin: 4rem 2rem 2rem 2rem;
}

section.about .me .intro-text .intro-text-left .content p {
    color: var(--color-black);
}

section.about .me .intro-text .intro-text-left .content .download {
    position: relative;
    margin: 2rem auto 2rem 2rem;
}

section.about .me .intro-text .intro-text-left .content .download button {
    padding: 1.2rem;
    background: var(--color-primary);
    color: var(--color-light);
    font-size: 1rem;
    transition: var(--transition);
    border: 1px solid var(--color-primary);
}

section.about .me .intro-text .intro-text-left .content .download button:hover {
    background: var(--color-light);
    color: var(--color-primary);
    cursor: pointer;
}

/*=====SKILLS SECTION======*/
section.skills h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--color-black);
}

section.skills h5 {
    color: var(--color-black);
}

section.skills {
    background: var(--color-info-light4);
}
section.skills .container {
    width: 50%;
    margin: 2rem auto;
}

section.skills .skill {
    margin-bottom: 1rem;
}

section.skills .skill .head {
    background: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-h3);
    padding: 1.6rem;
    cursor: pointer;
    transition: var(--transition);
}

section.skills .skill .head .left .iconify {
    font-size: 2rem;
}


section.skills .skill .head h4 {
    color: var(--color-h3);
}

section.skills .skill .head .left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*for sake of js*/  
section.skills .skill .items {
    display: none;
  }  

section.skills .container .skill .items.show-items {
    display: block;
}
/* end of for js sake*/

section.skills .skill .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 1.6rem;
    background: var(--color-info-light);
    margin-bottom: 0.3rem;
    transition: var(--transition);
    box-shadow: var(--box-shadow);
}

section.skills .skill .item:hover {
    background: var(--color-light);
    box-shadow: none;
}

section.skills .skill .progress-area {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

section.skills .item .progress-bar {
    width: 100%;
    height: 1rem;
    background: var(--color-info-light2);
}

section.skills .item .progress-bar .progress {
    height: 100%;
    width: 80%;
    background: var(--color-primary);
    animation: progress 2s;
}

@keyframes progress {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

section.skills .item .progress-bar .progress1 {
    height: 100%;
    width: 95%;
    background: var(--color-primary);
    animation: progress1 2s;
}

@keyframes progress1 {
    0% {
        width: 0%;
    }
    100% {
        width: 95%;
    }
}

section.skills .item .progress-bar .progress2 {
    height: 100%;
    width: 70%;
    background: var(--color-primary);
    animation: progress2 2s;
}

@keyframes progress2 {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

section.skills .item .progress-bar .progress3 {
    height: 100%;
    width: 60%;
    background: var(--color-primary);
    animation: progress3 2s;
}

@keyframes progress3 {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}


section.skills .item .progress-bar .progress4 {
    height: 100%;
    width: 50%;
    background: var(--color-primary);
    animation: progress4 2s;
}

@keyframes progress4 {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
section.skills .item .progress-bar .progress5 {
    height: 100%;
    width: 35%;
    background: var(--color-primary);
    animation: progress5 2s;
}

@keyframes progress5 {
    0% {
        width: 0%;
    }
    100% {
        width: 35%;
    }
}
section.skills .item .progress-bar .progress6 {
    height: 100%;
    width: 80%;
    background: var(--color-primary);
    animation: progress6 2s;
}

@keyframes progress6 {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

section.skills .item .progress-bar .progress7 {
    height: 100%;
    width: 85%;
    background: var(--color-primary);
    animation: progress7 2s;
}

@keyframes progress7 {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

section.skills .item .progress-bar .progress8 {
    height: 100%;
    width: 95%;
    background: var(--color-primary);
    animation: progress8 2s;
}

@keyframes progress8 {
    0% {
        width: 0%;
    }
    100% {
        width: 95%;
    }
}

/*======services=======*/
section.services {
    background: var(--color-info-light3);
}

section.services p, h4 {
    color: var(--color-black);
}

section.services h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--color-black);
}

section.services .service {
    display: flex;
    flex-direction: column;
}

section.services .service .service-top {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-content: center;
    position: relative;
}

section.services .service .service-top .card {
    background: var(--color-info-light);
    box-shadow: var(--box-shadow);
    width: 35%;
    border-radius: 1rem;
    position: relative;
}

section.services .service .service-top .card .iconify {
    background: var(--color-primary);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--color-light);
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    text-align: center;
    position: relative;

}

section.services .service .service-top .card p {
    margin: 0 0.8rem 0.8rem 0.8rem;
    position: relative;
}

section.services .service .service-top .card h4 {
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
}
section.services .service .service-top .card:hover {
    cursor: pointer;
    box-shadow: none;
    position: relative;
}

/*cards-bottom*/

section.services .service .service-bottom {
    display: flex;
    gap: 2rem;
    align-content: center;
    margin: 5rem auto;
    justify-content: center;
    position: relative;
}

section.services .service .service-bottom .card {
    background: var(--color-info-light);
    box-shadow: var(--box-shadow);
    width: 35%;
    border-radius: 1rem;
    position: relative;
}

section.services .service .service-bottom .card .iconify {
    background: var(--color-primary);
    border-radius: 50%;
    width: 2.5rem;
    position: relative;
    height: 2.5rem;
    color: var(--color-light);
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    text-align: center;

}

section.services .service .service-bottom .card p {
    margin: 0 0.8rem 0.8rem 0.8rem;
    position: relative;
}

section.services .service .service-bottom .card h4 {
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
}
section.services .service .service-bottom .card:hover {
    cursor: pointer;
    box-shadow: none;
}

section.services .service .lets-talk{
    display: flex;
    justify-content: center;
}

section.services .service .lets-talk button {
    padding: 1.2rem;
    background: var(--color-primary);
    color: var(--color-light);
    font-size: 1rem;
    transition: var(--transition);
    border: none;
}

section.services .service .lets-talk button:hover {
    background: var(--color-light);
    cursor: pointer;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

/*=============CONTACT ME SECTION===============*/

.overlay {
    background: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
                                                                      
section.contact {
    width: 100%;
    background-image: url(./img/contact-me.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

section.contact .contact-us h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

section.contact .contact-us form {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem auto;
}

section.contact .contact-us form p {
    color: var(--color-h3);
    line-height: 2;
}

section.contact .contact-us form input[type=text],
section.contact .contact-us form input[type=submit],
section.contact .contact-us form textarea,
section.contact .contact-us form input[type=email] {
    width: 100%;
    background: transparent;
    display: block;
    border: 2px solid var(--color-h3);
    padding: 1.6rem;
    margin: 5px 0 22px 0;
    transition: var(--transition);
    color: var(--color-h3);
}

section.contact .contact-us form input[type=text]:focus,
section.contact .contact-us form textarea:focus,
section.contact .contact-us form input[type=email]:focus {
    background-color: var(--color-white);
    color: var(--color-black);
}

section.contact .contact-us form input[type=submit] {
    margin-top: 3rem;
    width: 14rem;
    margin: 2rem auto 0;
    background-color: var(--color-primary);
    border: none;
    transition: var(--transition);
    font-weight: bold;
    font-size: 20px;
}

section.contact .contact-us form input[type=submit]:hover {
    background-color: transparent;
    border: 2px solid var(--color-h3);
    cursor: pointer;
}


/*=====SCROLL TO TOP====*/

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px;
    background: var(--color-primary);
    color: var(--color-light);
    border: none;
    cursor: pointer;
    z-index: 9999;
    transition: var(--transition);
}

.scroll-to-top span {
    font-size: 2rem;
}

.scroll-to-top:hover {
    background: var(--color-light);
    color: var(--color-primary);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--color-primary);
}




/*======FO0TER======*/

footer {
    width: 100%;
    margin: 0;
    padding: 1rem 0 1rem;
    background: var(--color-primary);
    color: var(--color-h3);
    place-content: center;
}

footer .footer-section {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin: 1px auto;
    place-content: center;
}


footer .footer-section .quick-links {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-content: center;
    margin: 1px auto 0 auto;
}

footer .footer-section .quick-links h4 {
    text-decoration: underline;
    color: var(--color-h3);
}

footer .footer-section .quick-links .nav-links {
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

footer .footer-section .quick-links .nav-links a {
    color: var(--color-h3);
}

footer .footer-section .quick-links .nav-links a:hover {
    text-decoration: underline;
}

footer .footer-section .quick-links .icons {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    overflow: hidden;
    gap: 2rem;
}

footer .footer-section .quick-links .icons .iconify {
    font-size: 1.5rem;
    cursor: pointer;
}

footer .footer-section .address {
    display: flex;
    margin: 3rem auto;
    width: 60%;
    justify-content: center;
    gap: 1rem;
}

footer .footer-section .address p {
    line-height: 2;
}

footer .footer-section .address .left {
    display: block;
}

footer .footer-section .address .right {
    display: block;
}

footer .footer-section .address .left .locate {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
}

footer .footer-section .address .left .locate .iconify {
    font-size: 2rem;
}

footer .footer-section .address .line {
    border: 0.2px solid var(--color-h3);
}

footer .footer-section .line2 {
    border: 1px solid var(--color-h3);
    width: 80%;
    margin: 1px auto;
}

footer .footer-section .rigts-reserved {
    margin: 1rem auto;
    width: 80%;
    text-align: center;
}






/*==============================*/
/*========MEDIA QUERIES========*/
/*==============================*/
@media (max-width: 1200px) {
    nav {
        width: 100%;
    }

    section {
        width: 100%;
        padding: 8rem 0 5rem;
    }

    .home {
        margin: 0 auto;
    }

    .home .hero-section .hero-text h1 {
        font-size: 2.5rem;
    }

    .home .hero-section .hero-text {
        max-width: 600px;
    }

    .home .hero-img img {
        height: 500px;
    }

    /*===ABOUT SECTION====*/
    section.about .container .me h2 {
        font-size: 2rem;
    }

    section.about .container {
        display: block;
    }

    /*====SERVICES SECTION====*/

    section.services .service .service-bottom .card {
        width: 30%;
    }

    section.services .service .service-bottom {
        gap: 1rem;
    }
    section.services .service .service-top {
        gap: 1rem;
    }
}

/**************************************************/
/**************************************************/
/*************************600px*************************/
/**************************************************/
/**************************************************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav {
        width: 100%;
    }

    nav .container .h2 {
        font-size: 10px;
    }

    nav .container .theme-toggler {
        display: none;
    }
        
    /*====Hero section=====*/
    .home .hero-section .hero-text h1 {
        font-size: 2rem;
    }

    .home .hero-section .hero-text h3 {
        font-size: 1rem;
    }

    .home .hero-section .hero-text {
        display: flex;
        position: relative;
        justify-content: center;
        margin: 0 auto;
        flex-direction: column;
    }

    .home .hero-section .hero-text p {
        font-size: 15px;
    }
    /*===ABOUT====*/

    section.about .container .me h2 {
        font-size: 2rem;
    }
    section.about .container .me .intro-text {
        display: block;
        margin: 0 auto;
        justify-content: center;
    }

    section.about .container .me .intro-text .intro-text-right {
        margin: 0 auto;
        width: 90%;
        justify-content: center;
        margin-right: 2rem;
    }

    section.about .container .me .intro-text .intro-text-left {
        margin: -3rem auto;
        width: 100%;
        padding-bottom: 10px;
    }

    section.about .container .me .intro-text .intro-text-left p {
        font-size: 12px;
    }

    section.about .container .me .intro-text .intro-text-left .content .download {
        margin: 1rem auto;
        justify-content: center;
    }

    /*=====SKILLS SECTION=====*/
    section.skills .skill .head {
        padding: 1rem;
    }

    section.skills .skill .head span {
        font-size: 1rem;
    }

    section.skills h4 {
        font-size: 10px;
    }

    section.skills h2 {
        font-size: 2rem;
    }

    section.skills h5 {
        font-size: 10px;
    }

    section.skills .skill .head .left .iconify {
        font-size: 1rem;
    }

    /*======SERVICES======*/

    section.services h2 {
        font-size: 2rem;
    }

    section.services .service .service-bottom {
        display: block;
    }

    section.services .service .service-top {
        display: block;
    }

    section.services .service .service-top .card {
        margin: 1rem auto;
        width: 80%;
    }

    section.services .service .service-bottom .card {
        margin: 1rem auto;
        width: 80%;
    }

    section.services .service .service-top .card .iconify {
        margin-top: 2rem auto;
        width: 1.8rem;
        height: 1.8rem;
    }

    section.services .service .service-bottom .card .iconify {
        margin: 2rem auto;
        width: 1.8rem;
        height: 1.8rem;
    }

    section.services .service .service-top .card p {
        font-size: 14px;
    }

    section.services .service .service-bottom .card p {
        font-size: 14px;
    }

    /*=====CONTACT US SECTION====*/

    section.contact .container .contact-us h2 {
        font-size: 2rem;
    }

    section.contact .container .contact-us form p {
        font-size: 14px;
    }

    section.contact .contact-us form input[type=text],
    section.contact .contact-us form input[type=submit],
    section.contact .contact-us form textarea,
    section.contact .contact-us form input[type=email] {
        padding: 1rem;
    }

    section.contact .contact-us form input[type=submit] {
        font-size: 1rem;
    }

    /*footer*/
    footer {
        width: 100%;
        margin: 0 auto;
    }

    footer .footer-section {
        display: block;
        margin: 0 auto;
        width: 99%;
    }

    footer .footer-section .quick-links h4 {
        font-size: 15px;
    }

    footer .footer-section .quick-links .nav-links {
        width: 50%;
        display: flex;
        gap: 0.8rem;
        justify-content: space-between;
    }

    footer .footer-section .quick-links .nav-links a {
        font-size: 10px;
    }

    footer .footer-section .quick-links .icons .iconify {
        font-size: 10px;
    }

    footer .footer-section .address p{
        font-size: 12px;
    }

    footer .footer-section .address {
        width: 100%;
    }

    footer .footer-section .address .left .locate .iconify {
        font-size: 12px;
    }

    .scroll-to-top {
        padding: 5px;
    }

    .scroll-to-top span {
        font-size: 20px;
    }
    footer .footer-section .rigts-reserved p{
        font-size: 12px;
    }

}


/**************************************************/
/**************************************************/
/*********************500PX************************/
/**************************************************/
/**************************************************/
@media only screen and (max-width: 500px) {
    .home .hero-section {
        margin: 0 auto;
        justify-content: center;
    }

    .home {
        justify-content: center;
    }

    .home .hero-section .hero-text h1 {
        font-size: 1.8rem;
    }

    .home .hero-section .hero-text h3 {
        font-size: 1rem;

    }

    .home .hero-section .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    .home .hero-section .hero-text p {
        font-size: 10px;
    }

    .home .hero-section .hero-text .btn-primary button {
        padding: 1rem;
        background: var(--color-primary);
        color: var(--color-light);
        font-size: 15pxrem;
        transition: var(--transition);
        border: none;
    }

}


/*******************************/
/**********991.98px*****************/
/*******************************/
@media (max-width: 991.98px) {
    .home {
        padding: 10rem 0 3rem;
    }

    
    
    .home .hero-section .hero-text p {
        font-size: 13px;
        margin-top: 1rem;
    }
    
    .home .hero-section .hero-text h1 {
        font-size: 40px;
    }

    .home .hero-section .hero-text .btn-primary button {
        font-size: 12px;
        width: 8rem;
    }
    
    .home .hero-section .hero-text h3 {
        font-size: 25px;
        
    }
    
}

@media (max-width: 575.98px) {
    .home .hero-section .hero-text {
        font-size: 16px;
    }

    .home .hero-section .hero-text h1 {
        font-size: 30px;
    }
    
    .home .hero-section .hero-text h2 {
        font-size: 18px;
        height: 18px;
    }
}

@media (max-width: 991.98px) {
    section.about .container .intro-text .me .intro-text-left {
        padding: 45px 15px 10px 15px;
    }
    
    nav {
        width: 100%;
        height: 5rem;
        background: var(--color-info-dark);
    }


    
    nav .container #nav-links {
        display: none;
    }
    
    /*for javascript toggle*/
    nav .container {
        width: 100%;
    }

    nav .container #nav-links.active {
        display: block;
        position: absolute;
        background: var(--color-info-dark);
        top: 5rem;
        left: -5rem;
        width: 10rem;
        height: 80vh;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1rem 2rem var(--color-boxshadow);
    }

    nav .container #nav-links a {
        padding: 0.5rem;
        justify-content: center;
        display: flex;
        gap: 2rem;
        width: 100%;
        justify-content: space-between;
        height: 7rem;
        color: var(--color-h3);
        font-size: 15px;
    }

    nav .container #toggle {
        width: 50px;
        height: 50px;
        background: var(--color-primary);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
    }
    
    nav .container #toggle::before {
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background: var(--color-light);
        transform: translateY(-5px);
        transition: 0.2s;
    }
    
    nav .container #toggle::after {
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background: var(--color-light);
        transform: translateY(5px);
        transition: 0.2s;
    }
    
    nav .container #toggle.active::before {
        transform: translateY(0px) rotate(45deg);
    }
    
    nav .container #toggle.active::after {
        transform: translateY(0px) rotate(-45deg);
    }

}

/**************************************/
/*********MOBILE I GUESS***************/
/**************************************/
@media screen and (max-width: 614px) {

    .home .hero-img {
        display: none;
    }

    .home .hero-section .profile-area {
        grid-row: 1;
    }

    nav .container .theme-toggler {
        display: none;
    }
    .home .hero-section .hero-text {
        text-align: center;
        margin-top: -17rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        position: relative;
    }

    .home {
        display: grid;
        place-items: center;
        justify-content: center;
    }
    .home .hero-section {
        display: grid;
        grid-template-rows: 40% 50%;
        place-items: center;
        gap: 2rem;
    }

    .home .hero-section .profile-area {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -45rem;
        position: relative;
    }
    
    .home .hero-section .profile-area .outer-circle {
        width: 16rem;
        height: 16rem;
        border: 1px solid var(--color-primary);
        border-radius: 50%;
        position: relative;
        animation: move 30s linear infinite;
    }
    
    @keyframes move {
        to {
            transform: rotate(360deg);
        }
    }
    
    .home .hero-section .profile-area .outer-circle .iconify {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        position: absolute;
        background: var(--color-info-light);
        color: var(--color-primary);
        display: flex;
        justify-content: center;
        align-content: center;
        box-shadow: var(--box-shadow);
    }
    
    .home .hero-section .profile-area .outer-circle .iconify:nth-child(1) {
        left: calc(50% - 2rem);
        top: -0.5rem;
    }
    
    .home .hero-section .profile-area .outer-circle .iconify:nth-child(2) {
        top: calc(50% - 2rem);
        right: -0.5rem;
    }
    
    .home .hero-section .profile-area .outer-circle .iconify:nth-child(3) {
        top: calc(50% - 2rem);
        left: -0.5rem;
    }
    
    .home .hero-section .profile-area .outer-circle .iconify:nth-child(4) {
        left: calc(50% - 2rem);
        bottom: -0.5rem;
    }
    
    
    
    .home .hero-section .profile-area .inner-circle {
        position: absolute;
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        overflow: hidden;
    }
    

    .home .hero-section .hero-text p {
        color: var(--color-black);
    }

    .home .hero-section .hero-text h3 {
        color: var(--color-black);
        line-height: 2;
    }
    
    .home .hero-section .hero-text .btn-primary {
        display: flex;
        justify-content: center;
        margin: 1rem auto;
    }

    /*ABOUT*/

    section.about .container .me .intro-text {
        display: block;
        margin: 0 auto;
        justify-content: center;
    }

    section.about .container .me .intro-text .intro-text-right {
        width: 100%;
        justify-content: center;
    }

    section.about .container .me .intro-text .intro-text-right img {
        right: 32px;
        top: 0;
    }

    section.about .container .me .intro-text .intro-text-left {
        margin: -3rem auto;
        width: 100%;
        padding-bottom: 10px;
    }

    section.about .container .me .intro-text .intro-text-left p {
        font-size: 12px;
    }

    section.about .container .me .intro-text .intro-text-left .content .download {
        margin: 1rem auto;
        justify-content: center;
        display: flex;
    }

    section.about .container .me .intro-text .intro-text-left .content .download button {
        padding: 1rem;
    }


    /*=====SKILLS======*/
    section.skills .skill .head {
        padding: 1rem;
    }

    section.skills .skill .head span {
        font-size: 1rem;
    }

    section.skills h4 {
        font-size: 13px;
    }

    section.skills h2 {
        font-size: 1rem;
    }

    section.skills h5 {
        font-size: 10px;
    }

    section.skills .skill .head .left .iconify {
        font-size: 1rem;
    }

    section.skills .container {
        width: 95%;
    }

    /*======SERVICES======*/

    section.services h2 {
        font-size: 2rem;
    }

    section.services .service .service-bottom {
        display: block;
    }

    section.services .service .service-top {
        display: block;
    }

    section.services .service .service-top .card {
        margin: 1rem auto;
        width: 80%;
    }

    section.services .service .service-bottom .card {
        margin: 1rem auto;
        width: 80%;
    }

    section.services .service .service-top .card .iconify {
        margin-top: 2rem auto;
        width: 1.8rem;
        height: 1.8rem;
    }

    section.services .service .service-bottom .card .iconify {
        margin: 2rem auto;
        width: 1.8rem;
        height: 1.8rem;
    }

    section.services .service .service-top .card p {
        font-size: 15px;
    }

    section.services .service .service-bottom .card p {
        font-size: 15px;
    }

    /*=====CONTACT US SECTION====*/

    section.contact .container .contact-us h2 {
        font-size: 2rem;
    }

    section.contact .container .contact-us form p {
        font-size: 12px;
    }

    section.contact .contact-us form {
        width: 100%;
    }

    section.contact .contact-us form input[type=text],
    section.contact .contact-us form input[type=submit],
    section.contact .contact-us form textarea,
    section.contact .contact-us form input[type=email] {
        padding: 0.8rem;
    }

    section.contact .contact-us form input[type=submit] {
        font-size: 1rem;
        width: 5rem;
    }

    /*footer*/
    footer {
        width: 100%;
        margin: 0 auto;
    }

    footer .footer-section {
        display: block;
        margin: 0 auto;
        width: 99%;
        gap: 1px;
    }


    footer .footer-section .quick-links {
        display: block;
    }

    footer .footer-section .quick-links h4 {
        font-size: 15px;
        text-align: center;
    }

    footer .footer-section .quick-links .nav-links {
        display: flex;
        justify-content: space-between;
        margin: 1rem auto;
        width: 100%;  
    }

    footer .footer-section .quick-links .nav-links a {
        font-size: 12px;
    }

    footer .footer-section .quick-links .icons {
        margin: 1rem auto;
        width: 80%;
        gap: 2rem;
    }
    footer .footer-section .quick-links .icons .iconify {
        font-size: 1rem;
    }

    footer .footer-section .address p{
        font-size: 10px;
    }

    footer .footer-section .address {
        margin-top: 1rem;
    }

    footer .footer-section .address {
        width: 100%;
    }

    footer .footer-section .address .left .locate .iconify {
        font-size: 12px;
    }

    footer .footer-section .rigts-reserved {
        font-size: 10px;
    }

    footer .footer-section .line2 {
        width: 60%;
        border: 0.2px solid var(--color-light);
    }
}



/**************************************************/
/**************************************************/
/*************950.98PX and 614PX******************/
/**************************************************/
/**************************************************/

@media (max-width: 950.98px) and (min-width: 614px) {

    .home .hero-section .hero-text {
        margin-top: -5rem;
    }

    .home .hero-img img {
        width: 100%;
    }
    /**ABOUT SECTION**/

    section.about .me .intro-text {
        display: block;
    }

    section.about .me .intro-text .intro-text-right {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    section.about .me .intro-text .intro-text-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    /*SERVICES SECTION*/

    section.services .service .service-bottom {
        display: block;
    }

    section.services .service .service-top {
        display: block;
    }

    section.services .service .service-top .card {
        margin: 1rem auto;
        width: 60%;
        display: flex;
        flex-direction: column;
        height: 80vh;
    }

    section.services .service .service-bottom .card {
        margin: 1rem auto;
        width: 60%;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }

    section.services .service .service-top .card .iconify {
        margin-top: 3rem;
        width: 4rem;
        height: 4rem;
        display: flex;
    }

    section.services .service .service-bottom .card .iconify {
        margin-top: 3rem;
        width: 4rem;
        height: 4rem;
        display: flex;
    }

    section.services .service .service-top .card p {
        font-size: 17px;
    }

    section.services .service .service-bottom .card p {
        font-size: 17px;
    }

    section.services .service .service-top .card h4 {
        font-size: 1.6rem;
    }

    section.services .service .service-bottom .card h4 {
        font-size: 1.6rem;
    }

    /*SKILLS*/
    section.skills .container {
        width: 95%;
        margin: 0 10px 0 10px;
    }

    /*contact us*/
    section.contact .contact-us form {
        width: 100%;
    }

    /*FOOTER*/
    footer {
        width: 100%;
        margin: 0 auto;
    }

    footer .footer-section {
        display: block;
        margin: 0 auto;
        width: 99%;
        gap: 1px;
    }


    footer .footer-section .quick-links {
        display: block;
    }

    footer .footer-section .quick-links h4 {
        text-align: center;
    }

    footer .footer-section .quick-links .nav-links {
        display: flex;
        justify-content: space-between;
        margin: 1rem auto;
        width: 100%;  
    }


    footer .footer-section .quick-links .icons {
        margin: 1rem auto;
        width: 45%;
        gap: 2rem;
    }
    footer .footer-section .quick-links .icons .iconify {
        font-size: 2rem;
    }

    footer .footer-section .address p{
        font-size: 1rem;
    }

    footer .footer-section .address {
        margin-top: 1rem;
    }

    footer .footer-section .address {
        width: 100%;
    }

    footer .footer-section .address .left .locate .iconify {
        font-size: 12px;
    }

    footer .footer-section .rigts-reserved p{
        font-size: 1rem;
    }

}